<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteRule ^(registro-cashi)$ $1.php [NC,L]
    RewriteRule ^registro-cashi https://sitio-membresiasalud.dev-pruebas.com/registro-cashi.php
    RewriteRule ^registro-cashi.html https://sitio-membresiasalud.dev-pruebas.com/registro-cashi.php
    RewriteRule ^product-register.php https://sitio-membresiasalud.dev-pruebas.com/registro-producto.php
    RewriteRule ^BA https://sitio-membresiasalud.dev-pruebas.com

</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTP_HOST} ^membresiasalud.com$ [OR]
    RewriteCond %{HTTP_HOST} ^www.membresiasalud.com$
    RewriteRule (.*)$ https://www.programasalud.com.mx/$1 [R=301,L]
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTP_HOST} ^membresiasalud.com/SM$ [OR]
    RewriteCond %{HTTP_HOST} ^www.membresiasalud.com/SM$
    RewriteRule (.*)$ https://www.programasalud.com.mx/SM/$1 [R=301,L]
</IfModule>

<IfModule mod_php8.c>
    php_value upload_max_filesize 8M
    php_value post_max_size 8M
    php_value max_execution_time 4200
    php_value memory_limit 256M
    php_value max_input_time 0
</IfModule>

<IfModule mod_headers.c>
    Header set Connection keep-alive
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0

    <FilesMatch "\.(htaccess|ini|log)$">
        Order Allow,Deny
        Deny from all
    </FilesMatch>
</IfModule>

<FilesMatch "\.(css|flv|php|gif|htm|html|ico|jpe|jpeg|jpg|js|mp3|mp4|png|pdf|swf|txt)$">
    <IfModule mod_expires.c>
        ExpiresActive Off
    </IfModule>
    <IfModule mod_headers.c>
        FileETag None
        Header unset ETag
        Header unset Pragma
        Header unset Cache-Control
        Header unset Last-Modified
        Header set Pragma "no-cache"
        Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
        Header set Expires "jue, 1 Jan 1970 00:00:00 GMT"
    </IfModule>
</FilesMatch>

# Security Headers
<IfModule mod_headers.c>
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Frame-Options "SAMEORIGIN"
    Header set X-Content-Type-Options "nosniff"
    Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains"
    # Header set Content-Security-Policy ...
    Header set Referrer-Policy "same-origin"
    Header set Feature-Policy "geolocation 'self'; vibrate 'none'"
</IfModule>